*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
:root
{
    --amarelo1: #FFE017;
    --amarelo2: #F0D316;
    --amarelo3: #DCC112;
    --cinza1: #FFFEF2;
    --cinza2: #F3F3ED;
    --cinza3: #C8C7C0;
    --cinza4: #555552;
    --cinza5: #3D3C3A;
    --cinza6: #1D1D1D;
}
main
{
    background-color: var(--cinza6);
}
.row
{
    display: flex;
    height: 100vh;
}
.col
{
    margin: 0 auto;
    width: 40%;
}

/* COLUNA DA DIREITA */
#title_1
{
    color: var(--amarelo2);
    width: 60%;
    margin: 80px 0 25px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
#par_1
{
    color: var(--cinza3);
    width: 75%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
#link_1
{
    color: var(--cinza1);
    text-decoration: none;
    font-weight: 700;
}




/* -------- TELAS PEQUENAS -------- */