*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
:root
{
    --amarelo1: #FFE017;
    --amarelo2: #F0D316;
    --amarelo3: #DCC112;
    --cinza1: #FFFEF2;
    --cinza2: #F3F3ED;
    --cinza3: #C8C7C0;
    --cinza4: #555552;
    --cinza5: #3D3C3A;
    --cinza6: #1D1D1D;
}



/*  -------- TELAS EXTRA LARGAS --------  */
main
{
    background-color: var(--cinza6);
}
.row
{
    display: flex;
    height: 100vh;
}
.col
{
    margin: 0 auto 0 auto;
    width: 40%;
}

/* COLUNA DA DIREITA */
#title_1
{
    color: var(--amarelo2);
    width: 60%;
    margin: 50px 0 25px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}
#par_1
{
    color: var(--cinza3);
    width: 75%;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}
#link_1
{
    color: var(--cinza1);
    text-decoration: none;
    font-weight: 700;
}

/* COLUNA DA DIREITA */
#login_box
{
    width: 90%;
    height: 75vh;
    margin: 50px 0 0 0;
    padding: 10px;
    background-color: rgba(var(--cinza1), 0.02);
    border: 2px solid var(--cinza4);
    border-radius: 10px;
}
#title_login
{
    color: var(--amarelo2);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 12px 0 60px 0;
}
.input_box
{
    width: 85%;
    margin: 40px auto 0 auto;
}
label
{
    color: var(--cinza2);
    margin: 0 0 5px 0;
    font-weight: 500;
    font-size: 14px;
    display: block;
}
input
{
    width: 100%;
    height: 40px;
    background-color: var(--cinza5);
    color: var(--cinza2);
    font-size: 12px;
    border-radius: 4px;
    padding: 0 0 0 15px;
    border: 0;
}
::placeholder
{
    color: var(--cinza3);
    font-weight: 400;
    font-size: 12px;
}
#confirm_forget_box
{
    width: 85%;
    margin: 40px auto 0 auto;
    display: flex;
}
#button_box
{
    width: 50%;
}
#button_login
{
    padding: 10px 26.8px;
    background-color: var(--amarelo2);
    color: var(--cinza5);
    font-weight: 600;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}
#button_login:hover
{
    background-color: var(--amarelo3);
}
#box_forget
{
    width: 50%;
}
#forget_pass
{
    text-align: center;
    color: var(--cinza1);
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    display: block;
    width: 67%;
    margin: 0 auto;
}
#register_box
{
    width: 85%;
    margin: 44px auto 0 auto;
}
#register_to
{
    color: var(--cinza3);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 0 auto;
}
#link_register
{
    color: var(--cinza1);
    font-weight: 700;
    text-decoration: none;
}




/* -------- TELAS PEQUENAS -------- */

@media only screen and (max-width: 576px)
{
    .row
    {
        width: auto;
    }
    .col
    {
        margin: 0 auto 0 auto;
        width: 100%;
    }
    .col_left
    {
        display: none;
    }

    #login_box
    {
        margin: 50px auto 0 auto;
        border: 0;
    }
    .input_box
    {
        margin: 30px auto 0 auto;
    }
    label
    { 
        margin: 0 0 5px 0;
        font-weight: 500;
        font-size: 10px;
    }
    input
    {
        height: 35px;
        font-size: 10px;
        border-radius: 2px;
        padding: 0 0 0 12px;
    }
    #button_login
    {
        padding: 9px 28.4px;
        font-size: 10px;
    }
    #forget_pass
    {
        font-weight: 800;
        font-size: 10px;
    }
    #link_register
    {
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
    }


}




/*  -------- TELAS MÉDIAS --------  */

@media only screen and (max-width: 768px) and (min-width: 577px)
{
    .row
    {
        width: auto;
    }
    .col
    {
        margin: 0 auto 0 auto;
        width: 80%;
    }
    .col_left
    {
        display: none;
    }

    #login_box
    {
        margin: 50px auto 0 auto;
        border: 0;
    }
    .input_box
    {
        margin: 30px auto 0 auto;
    }
    label
    { 
        margin: 0 0 5px 0;
        font-weight: 500;
        font-size: 12px;
    }
    input
    {
        height: 35px;
        font-size: 10px;
        border-radius: 2px;
        padding: 0 0 0 12px;
    }
    #button_login
    {
        padding: 9px 32.8px;
        font-size: 12px;
    }
    #forget_pass
    {
        font-weight: 800;
        font-size: 12px;
    }
    #link_register
    {
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
    }
}




/*  -------- TELAS LARGAS --------  */

@media only screen and (max-width: 992px) and (min-width: 769px)
{
    .row
    {
        width: auto;
        /* display: block;
        height: auto; */
    }
    .col
    {
        margin: 0 auto 0 auto;
        width: 100%;
    }


    /* COLUNA DA ESQUERDA */
    #title_1
    {
        width: 70%;
        margin: 50px auto 15px 30px;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
    }
    #par_1
    {
        width: 75%;
        margin: 0 auto 30px 30px;
        font-weight: 500;
        font-size: 14px;
    }

    #almoco_svg
    {
        display: block;
        margin: 0 auto 0 5px;
        height: 42vh;
    }


    /* COLUNA DA DIREITA */
    #login_box
    {
        margin: 50px auto 0 auto;
    }
    .input_box
    {
        margin: 30px auto 0 auto;
    }
    label
    { 
        margin: 0 0 5px 0;
        font-weight: 500;
        font-size: 12px;
    }
    input
    {
        height: 35px;
        font-size: 10px;
        border-radius: 2px;
        padding: 0 0 0 12px;
    }
    #button_login
    {
        padding: 9px 32.8px;
        font-size: 12px;
    }
    #forget_pass
    {
        font-weight: 800;
        font-size: 12px;
    }
    #link_register
    {
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
    }
}